{% extends "layout_main.html" %}

{% block content %}

    <div>
        <p>Hello, organization {{ organization.name }}!</p>
        <p>{{ organization.description }}</p>
        <p>{{ organization.webpage }}</p>
    </div>

    {% if user_org_relation %}
        <div>
            You are {{ user_org_relation.relation }} of this organization.
        </div>

        <div>
            <p>Ongoing fundraises:</p>
            {% for fundraise in fundraises.ongoing %}
                <ul>
                    <li>{{ fundraise.name }}</li>
                    <li>{{ fundraise.description }}</li>
                    <li>{{ fundraise.current_amount }} {{ org.currency_code }} / {{ fundraise.target_amount }} {{ org.currency_code }}</li>
                </ul>
            {% endfor %}
        </div>

        <div>
            <p>Finished fundraises:</p>
            {% for fundraise in fundraises.finished %}
                <ul>
                    <li>{{ fundraise.name }}</li>
                    <li>{{ fundraise.description }}</li>
                    <li>{{ fundraise.target_amount }} {{ org.currency_code }}</li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}