{% extends "layout_main.html" %}

{% block content %}



    <style>




    </style>



    <p>Hello, search!</p>

    

    <div class="row row-cols-3 g-4">
        {% for org in orgs %}
        <div class="card-wrapper">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ org.name }}</h5>
                    <p class="card-text">{{ org.description }}</p>
                    <a href="{% url 'organizations:organization' org_id=org.id %}" class="btn btn-primary">Look into</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}