<!DOCTYPE html>
<html>

    <head>

        <title>Fundo: {% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

        <div>
            <a href="{% url 'base:index' %}">Home</a>
            <a href="{% url 'user:profile' user_id=request.user.id %}">Profile</a>
            <a href="{% url 'organizations:search' %}">Organizations</a>
        </div>

        {% block content %}{% endblock %}

    </body>

</html>